.MessageList{
  flex: 1 
}

.luckMoney-container{
  width:260px;
  padding:16px;
  background-color: red;
  border-radius: 8px;
  background-color: orange;
  position:relative;
  .luckMoney-title{
    color:white;
    font-size: 400;
  }
  .luckMoney-action{
    color : rgba(255,255,255,0.45);
    font-size: 12px;
    font-weight: 400;
    padding-bottom: 30px;

  }
  .luckMoney-footer{
    height: 20px;
    background-color: white;
    position: absolute;
    width: 100%;
    bottom: 0px;
    left: 0px;
    font-size: 12px;
    line-height: 20px;
    color:rgba(0,0,0,0.55);
    padding-left: 16px;
    border-bottom-left-radius: 8px ;
    border-bottom-right-radius: 8px;

  }

}
.luckMoney-disabled ::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.3); /* 半透明白色 */
  pointer-events: none; /* 不影响点击事件 */
  z-index: 1; /* 叠在内容上 */
  border-radius: 8px;
}

.popupOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popupBox {
  width: 50%;
  background: white;
  border-radius: 0.5rem;
  text-align: center;
  max-width: 300px;
}

.popupName {
  margin-top: 2rem;
  font-size: 0.875rem;
}

.hintBtn {
  margin-top: 4rem;
  margin-bottom: 1rem;
  padding: 0.5rem 2rem;
  background: #1890ff;
  color: white;
  font-size: 0.875rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}